<template name="header">
    <div class="navbar navbar-default navbar-fixed-top navbar-collapse collapse navbar-inverse-collapse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Be Social!</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8 friends_search" placeholder="Search">
                <div class="friends_search_list slow_hidden">
                    {{#each friends}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <a href="{{pathFor 'wall'}}">
                                        <img src="/img/deactivated_100.gif" alt="image"  height="40" width="40"/>
                                    </a>
                                </div>
                                <div class="col-sm-5">
                                    <p> {{profile.name}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><a href="{{pathFor 'conversation'}}" class="start_chat">Start Chat</a></p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </form>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/help/">Help</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                        <li><a href="javascript:;">{{my_name}}</a></li>
                        <li><a href="javascript:;" class="lock_screen">Lock</a></li>
                        <li><a href="javascript:;" class="sign_out">Logout</a></li>
                    {{else}}
                        <li><a href="javascript:;">Welcome Guest!</a></li>
                        <li><a href="javascript:;" class="login_link">Login</a></li>
                    {{/if}}
                </ul>

            </div>
        </div>
    </div>


</template>