<template name="layout">
    <head>
        <title>be Social</title>
    </head>

    <body>
        {{>yield 'header'}}



        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class='col-md-2'>
                            {{>yield 'left_menu'}}
                        </div>
                        <div class="col-md-7">
                            {{>yield}}
                        </div>
                        <div class="col-md-3">
                            {{>yield 'right_menu'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</template>