<template name="people">
    {{#each people}}
        <div class="row">
            <div class="col-lg-12 each_friend_in_list">
                <div class="col-lg-2">
                    <img src="/img/deactivated_100.gif" alt="image" class="img-thumbnail"/>
                </div>
                <div class="col-lg-6">
                    <p> {{profile.name}}</p>
                    <p> {{ emails_address emails}}</p>
                </div>
                <div class="col-lg-4">
                    <p><a href="javascript:;" class="add_friend">Add to friends</a></p>
                    <p><a href="javascript:;" class="start_chat">Start Chat</a></p>
                </div>
            </div>
        </div>
     {{/each}}
</template>